/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
   background-color: rgb(131, 128, 129);
    color: #1e0554;
    line-height: 1.6;
    padding: 20px; 
    text-align: center;
}

/* Logo y encabezado */
header {
    background-image: url(bmw.webp);
    color: rgb(5, 10, 168);
    padding: 20px;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.logo-img {
    width: 40px;
    height: auto;
    transition: transform 0.5s ease; /* Animación */
}

.logo-img:hover {
    transform: rotate(10deg) scale(1.1); /* Efecto al pasar el mouse */
}

/* Misión y Visión */
.mision-vision {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap;
    gap: 20px;
}

.mision, .vision {
    background-color: #000000;
    padding: 15px;
    border-radius: 8px;
    width: 40%;
    min-width: 250px;
    transition: background-color 0.3s ease;
}

.mision:hover, .vision:hover {
    background-color: #025288;
}

/* Barra de navegación */
.navegacion {
    margin-top: 30px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.menu a {
    text-decoration: none;
    color: rgba(14, 13, 13, 0.349);
    text-align: center;
    transition: transform 0.4s ease; /* Animación */
}

.img-nav {
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
}

.menu a:hover {
    transform: translateY(-10px); /* Efecto de levantar */
}

/* Sección del formulario */
.formulario-seccion {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
}

input, select, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    font-size: 16px;
}

button {
    background-color: #000000;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000;
}

.tarjetas{
 display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}
.imgagen-wrapper img{
    display: flex;
    object-fit: cover;
}
.imgagen-wrapper img:hover{
    transform: translateY(-10px);

}
    .logo-img {
    width: 40px;
    height: auto;
    transition: transform 0.5s ease; /* Animación */}




